.dropdown-item {
    padding-right: 10px;
    position: relative;
}

.patient-username {
    display: inline-block;
    width: calc(100% - 125px);
}

.doctor-username {
    display: inline-block;
    width: calc(100% - 100px);
}