<div *ngFor="let invitation of invitations" class="dropdown-item">
    <div *ngIf="authService.user?.role == 'Doctor'">
        <img style="    margin-right: 10px;
        border-radius: 100%;" height="70px" width="70px" [src]="invitation.patient.img" />
        <div class="patient-username">
            {{invitation.patient.firstName}} {{invitation.patient.lastName}}
        </div>
        <div style="display: inline-block; width: 100%;">
            <i (click)="acceptInvitation(invitation)" style="margin-right: 5px; margin-left: 10px; font-size: 20px; color: green; cursor: pointer;"
                class="far fa-check-circle"></i>
            <i (click)="rejectInvitation(invitation)" style="font-size: 20px; color: red; cursor: pointer;" class="far fa-times-circle"></i>
        </div>
    </div>
    <div *ngIf="authService.user?.role == 'Patient'">
        <img style="    margin-right: 10px;
        border-radius: 100%;" height="70px" width="70px" [src]="invitation.doctor.img" />
        <div class="doctor-username">
            {{invitation.doctor.firstName}} {{invitation.doctor.lastName}}
        </div>
        <div style="display: inline-block;margin-left: 10px; width: 100%;">
            <i *ngIf="invitation.state == 'Accepted'" style="font-size: 20px; color: green;"
                class="far fa-check-circle"></i>
            <i *ngIf="invitation.state == 'Rejected'" style="font-size: 20px; color: red;"
                class="far fa-times-circle"></i>
            <i *ngIf="invitation.state == 'Pending'" style="font-size: 20px; color: orange;"
                class="fas fa-spinner"></i>
        </div>
        <div style="color: silver; font-style: italic; position: absolute; right: 10px; top: 62px;"> {{invitation.date
            |date}} </div>
    </div>
    <hr />
</div>