<nav *ngIf="authService.user" class="navbar navbar-expand-lg border-bottom" style="height: 70px;">
  <a class="navbar-brand" href="#" style="color: white;color: white;font-family: cursive;font-size: 30px;">
    <img src="../../../../assets/images/logo.png" style="height: 60px; width: auto; margin-left: 50px;" alt="Home Page" id="open-menu"> TOMA
  </a>


  <div *ngIf="authService.user.role === 'Patient'" style="margin-left: calc(20% - 245px);" class="navbar-item" routerLinkActive="active" [routerLink]="['/dashboard']" fragment="education">
    Dashboard
  </div>

  <div *ngIf="authService.user.role === 'Doctor'" style="margin-left: calc(20% - 245px);" class="navbar-item" routerLinkActive="active" [routerLink]="['/doctor/dashboard']" fragment="education">
    Dashboard
  </div>

  <div *ngIf="authService.user.role === 'Patient'" class="navbar-item" routerLinkActive="active" [routerLink]="['/my-doctors']" fragment="education">
    My Doctors
  </div>

  <div *ngIf="authService.user.role === 'Patient'" class="navbar-item" routerLinkActive="active" [routerLink]="['/doctors']" fragment="education">
    All Doctors
  </div>

  <div *ngIf="authService.user.role === 'Doctor'" class="navbar-item" routerLinkActive="active" [routerLink]="['/my-patients']" fragment="education">
    My Patients
  </div>

  <div class="navbar-item" routerLinkActive="active" [routerLink]="['/profile']" fragment="education">
    Profile
  </div>

  <div [routerLink]="['/profile']" style="position: absolute; right: 202px; "><img class="rounded-circle mt-5" style="height: 50px; margin-top: 0px !important;margin-right: 10px;" [src]="authService.user?.profile?.img"><span style="color: white;">{{authService.user?.profile?.firstName}} {{authService.user?.profile?.lastName}}</span></div>

  <div *ngIf="authService.user.role === 'Doctor'" class="dropdown" style="position: absolute; right: 150px;color: white;font-size: 23px " >
    <div type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-user-check"></i>    
    </div>
    <div class="dropdown-menu requests-container" aria-labelledby="dropdownMenuButton">
      <app-requests></app-requests>
    </div>
  </div>

  <div *ngIf="authService.user.role === 'Patient'" class="dropdown" style="position: absolute; right: 150px;color: white;font-size: 23px " >
    <div type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-user-plus"></i>    
    </div>
    <div class="dropdown-menu requests-container" aria-labelledby="dropdownMenuButton">
      <app-requests></app-requests>
    </div>
  </div>


  <div style="position: absolute; right: 0px; padding-left: 30px; height: 100%; margin-right: 0px; padding-top: 17px; padding-right: 30px; background: #1d6fbb;" class="navbar-item" (click)="authService.logout()">
    Log out
  </div>
</nav>

<router-outlet></router-outlet>
